# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env
*.egg-info/
dist/
build/

# Node / React
node_modules/
frontend/build/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Flask
instance/
.webassets-cache
